--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.0.1+cu118
transformers==4.30.2
peft @ git+https://github.com/huggingface/peft.git@86290e9660d24ef0d0cedcf57710da249dd1f2f4
langchain
accelerate
bitsandbytes
datasets
sentencepiece
scipy
tensorboardX
trl
wandb
tqdm
pandas
matplotlib
seaborn
huggingface_hub
einops
evaluate
ipykernel
ipywidgets
jupyterlab
scikit-learn